<template name="addFail">
	{{#if visible}}
		<div class="modal-backdrop fade in"></div>
		<div class="modal show">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3>Add a new fail</h3>
					</div>
					<div class="modal-body">
						{{#if couldNotAddFail}}
						<div class="alert alert-danger">
							<strong>Fail 2 Fail</strong>
							<ul class="">
								{{#each errorMessages}}
									<li>{{this}}</li>
								{{/each}}
							</ul>
						</div>
						{{/if}}
						<form role="form">
							<div class="form-group {{#if problemWithTitle}}has-error{{/if}}">
								<label for="failName">How is Ben failing?</label>
								<input type="text" class="form-control" id="failName" placeholder="Name this fail">
							</div>
							<div class="form-group {{#if problemWithUrl}}has-error{{/if}}">
								<label for="failUrl">Where is it?</label>
								<input type="url" class="form-control" id="failUrl" placeholder="Supply a gif url">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="submit" id="btn-create-fail" class="btn btn-default btn-primary">Pile on the fail</button>
						<button type="button" id="btn-cancel-fail" class="btn btn-link">He didn't fail :(</button>
					</div>
				</div>
			</div>
		</div>
	{{/if}}
</template>