<template name="viewFails">
	{{>viewFailsMenu}}
	{{>fails}}
</template>

<template name="fails">
	<div class="fail-container">
		{{#each fails}}
			{{>fail}}
		{{/each}}
	</div>
</template>


<template name="fail">
	<div class="panel panel-default fail" data-id="{{_id}}">
		<div class="title panel-heading clearfix">
			"{{title}}"
			{{>likeFail}}
		</div>
		<div class="panel-body">
			<a href="{{url}}" target="_blank" class="img-thumbnail">
		      <img class="img-responsive" src="{{url}}"/>
		    </a>
	    </div>
	</div>
</template>


<template name="likeFail">
	<div class="favourite pull-right">
		{{#if currentUser}}
		   <button type="button" class="btn {{#if liked}} btn-success {{else}} btn-default {{/if}} add-like">
			  <span class="glyphicon glyphicon-thumbs-up"> {{votes}}</span>
			</button>
		{{else}}
		   <span class="badge glyphicon glyphicon-thumbs-up"> {{votes}}</span>
		{{/if}}
	</div>
</template>


<template name="viewFailsMenu">
	<div class="row view-fails-menu">
	  <div class="btn-toolbar pull-right" role="toolbar">
	  	<div class="btn-group">
  			{{#if currentUser}} 
		  	  <button type="button" id="btn-add-fail" class="btn btn-lrg btn-default btn-primary">
		  	  	<span class="glyphicon glyphicon-plus"></span>
		  	  	Add new fail
		  	  </button>
	  	  	{{/if}}
	  	</div>
  		<div class="btn-group">
	  		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	  		    Sort by <span class="caret"></span>
	  		  </button>

	  		  <ul class="dropdown-menu sort-options" role="menu">
	  		  	{{#each sortOptions}}
		  		  	<li>
		  		  		<a href="#">
		  		  			{{name}} 
		  		  			<span class="{{#if isSelected}} glyphicon glyphicon-ok {{/if}}"></span>
		  		  		</a>
		  		  	</li>
  		  		{{/each}}
	  		  </ul>
	  		</div>
	  	</div>
	</div>
</template>
